<template>
    <footer class="footer">
        <Logo />
        <nav>
            <Tab>Носители</Tab>
            <Tab>Сервис</Tab>
            <Tab>Контакты</Tab>
        </nav>
        <div class="phone">
            +78008886677
        </div>
            <div class="icons">
                <a v-for="(icon, index) in icons" :key="index" :href="icon.link">
                    <img class="icon" :src="icon.icon"/>
                </a>
            </div>
    </footer>
</template>

<script>
    import Logo from './../Logo/Logo.vue';
    import Tab from './../Tab/Tab.vue';
    import Facebook from '../../assets/images/Facebook.svg';
    import GooglePlus from '../../assets/images/GooglePlus.svg';
    import Twitter from '../../assets/images/Twitter.svg';
    import Instagram from '../../assets/images/Instagram.svg';
    import LinkedIn from '../../assets/images/Linkedin.svg';
    import OK from '../../assets/images/OK.svg';
    import VK from '../../assets/images/VK.svg';
    import YouTube from '../../assets/images/Youtube.svg';
    export default {
        name: "Footer",
        components: {
            Logo,
            Tab
        },
        data: () => ({
            icons: [
                { icon: VK, link: '#' },
                { icon: Twitter, link: '#' },
                { icon: YouTube, link: '#' },
                { icon: Facebook, link: '#' },
                { icon: GooglePlus, link: '#' },
                { icon: Instagram, link: '#' },
                { icon: LinkedIn, link: '#' },
                { icon: OK, link: '#' },
            ]
        })
    }
</script>

<style lang="scss">
    @import "styles/variables";
    .footer {
        position: fixed;
        box-sizing: border-box;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 161px;
        background-image: $background-image-gradient;
        padding: 35px 30px;
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        .phone {
            color: white;
            font-family: "Proxima Nova",serif;
            font-size: 24px;
            justify-self: end;
        }
        .icons {
            grid-row: 2;
            grid-column: 1/4;
            display: flex;
            justify-content: center;
            a {
                margin-right: 35px;
            }
        }
    }
</style>
